$level-text-color: rgb(101, 105, 105);
$border-input-grey: rgb(220, 222, 221);
$border-highlight: rgb(0, 158, 116);
$primary-color: rgb(40, 40, 40);
$regular-font-weight: 400px;
$regular-height: 42px;

.hide-area {
	display: none;
}

.continue-button {
	width: 100%;
	height: $regular-height;
	background-color: rgb(0, 158, 116);
	color: rgb(255, 255, 255);
	margin-bottom: 18px;
	font-size: 14px;

	.extra-info {
		margin-bottom: 0px;
	}
}

.pledge-amount-container {
	line-height: $regular-height;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 18px;

	.pledge-amount-currency-symbol {
		flex: 1;
		font-weight: $regular-font-weight;
		font-size: 14px;
		text-align: center;
		border-width: 1px;
		border-style: solid;
		margin-left: auto;
		margin-right: auto;
		color: $level-text-color;
	}

		.no-highlight {
			border-right-style: none;
			border-color: $border-input-grey;	
		}

		.highlight {
			border-right-style: none;
			border-color: $border-highlight;
		}

	.pledge-amount-chosen {
		flex: 6;
		font-size: 14px;
		padding-left: 5px;
		border-width: 1px;
		border-style: solid;
		color: $primary-color;
	}

		.no-highlight {
			border-color: $border-input-grey;	
		}

		.highlight {
			border-color: $border-highlight;
		}
}