@import 'Level';

$level-vertical-padding: 20px;
$level-side-padding: 18px;
$border-general-grey: rgb(101, 105, 105);
$border-general-width: 1px;
$medium-font-weight: 500px;
$level-text-color: rgb(101, 105, 105);

.hide-area {
	display: none !important;
}

.pledge-hover-content {
	font-size: 18px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
}

.select-this-reward {
	color: rgb(255, 255, 255);
	font-size: 16px;
	display: block;
	text-align: center;
	vertical-align: middle;
	z-index: 4;
}

.content-container {
	position: relative;
	z-index: 1;
	display: block;
	text-align: left;
	vertical-align: baseline;
}

.single-current-level-master-container {
	border-color: $border-general-grey;
	border-width: $border-general-width;
	border-style: solid;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	z-index: 0;

	&:hover {
		.pledge-hover-container {
			opacity: 1;
			transform: scale(1);
		}
	}

	&.clicked {
		cursor: default;
	}

	.pledge-hover-container {
		border-color: rgb(255, 255, 255);
		border-width: 0px;
		border-style: none;
		background-color: rgba(0, 158, 116, 0.9);
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0;
		transform: scale(1.3);
		transition: all 0.2s ease-in-out;
		text-align: center;
		vertical-align: baseline;
		z-index: 2;

		&:before {
			content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    margin-right: -0.25em;
		}
	}
}

.single-current-level-subcontainer {
	padding-left: $level-side-padding;
	padding-right: $level-side-padding;
	padding-top: $level-vertical-padding;
	padding-bottom: $level-vertical-padding;
	position: relative;
	display: block;
	z-index: 0;
}

.level-pledge-form {
	display: block;
	margin-bottom: 0px;
	margin-top: 18px;
}

.pledge-label {
	font-size: 12px;
	font-weight: $medium-font-weight;
	color: $level-text-color;
	margin-bottom: 5px;
}

.label-separation {
	margin-top: 5px;
}