@import 'Campaign';
@import 'About';
@import 'Support';
@import 'PledgeBox';
@import 'SingleCurrentLevel';
@import 'LevelBackersSection';
@import 'ShippingSelect';
@import 'PledgeInputArea';
@import 'FullLevels';
$font-stack: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
$border-highlight: rgb(0, 158, 116);

html {
	font-family: $font-stack;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;

    &:focus {
    	outline: none;
		border-style: solid;
		border-width: 1px;
		border-color: $border-highlight;
    }
}

input[type=text]:focus {
	outline: none;
	border-style: solid;
	border-width: 1px;
	border-color: $border-highlight;
}