$font-stack: Karla, Helvetica, Arial;
$primary-color: rgb(40, 40, 40);
$level-text-color: rgb(101, 105, 105);
$additional-info-text-color: rgb(2, 6, 33);
$helper-border: 1px solid red;
$level-padding: 18px;
$border-highlight: rgb(0, 158, 116);
$border-no-highlight: rgb(220, 222, 221);
$pledgebox-intra-spacing: 10px;

body {
	font-family: $font-stack;
}

input:focus {
	outline: none;
	border-style: solid;
	border-width: 1px;
	border-color: $border-highlight;
}

.level-extra-info-section {
	display: flex;
}

.level-delivery-date-section {
	flex: 1;
}

.level-delivery-region-section {
	flex: 1;
}

.level-additional-info-header {
	display: block;
}

.level-additional-info-item {
	display: block;
}

#about-info {
	padding-right: 18px;
}

.support-item {
	margin-bottom: 20px;
}

.section-header {
	font-family: $font-stack;
	color: $primary-color;
	font-size: 24px;
	border: $helper-border;
}

#all-gone {
	font-size: 24px;
	font-weight: 700;
	color: $primary-color;
}

.full-backers-line {
	font-size: 12px;
	font-weight: 700;
	color: $primary-color;
}

#app-container {
	display: flex;
}

#about-master-container {
	flex: 61;
	display: flex;
	justify-content: flex-end;
	border: $helper-border;
	margin-right: 20px;
}

#about-container {
	position: relative;
	width: 65%;
}

#support-master-container {
	flex: 39;
	display: flex;
	justify-content: flex-start;
	border: $helper-border;
	margin-left: 20px;
}

#support-container {
	position: relative;
	width: 50%;
}

.support-components-subcontainer {
	border: $helper-border;
	padding-left: $level-padding;
	padding-right: $level-padding;
}

.single-current-level-subcontainer {
	border: $helper-border;
	padding-left: $level-padding;
	padding-right: $level-padding;
}

.full-level-subcontainer {
	border: $helper-border;
	padding-left: $level-padding;
	padding-right: $level-padding;
}

#pledge-component-subcontainer {
	border: $helper-border;
	padding-left: $level-padding;
	padding-right: $level-padding;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#continue-button {
	width: 100%;
	height: 42px;
	background-color: rgb(0, 158, 116);
	color: rgb(255, 255, 255);
	margin-bottom: 18px;
	font-size: 14px;
}

.pledge-flex-div {
	flex: 1;
}

#pledge-header {
	padding-top: 20px;
	padding-bottom: 16.8px;
	font-size: 18px;
}

#pledge-component-container {
	border: $helper-border;
}

#pledge-amount-container {

	line-height: 42px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 18px;

	#pledge-amount-currency-symbol {
		flex: 1;
		font-size: 14px;
		border-right: none;
		text-align: center;
		margin-left:auto;
		margin-right: auto;
		color: $level-text-color;
	}

	#pledge-amount-chosen {
		flex: 6;
		font-size: 14px;
		padding-left: 5px;
		color: $primary-color;
	}

	.no-highlight {
		border-color: $border-no-highlight;
		border-width: 1px;
		border-style: solid;
	}

	.highlight {
		border-style: solid;
		border-width: 1px;
		border-color: $border-highlight;
	}
}

.single-current-level-container {
	border: $helper-border;
}

.full-level {
	border: $helper-border;
}

.level-pledge-amount {
	border: $helper-border;
	font-size: 18px;
	font-weight: 400;
}

.level-name {
	border: $helper-border;
	font-size: 16px;
	font-weight: 400;
}

.level-description {
	border: $helper-border;
	font-size: 14px;
	color: $level-text-color;
}

.level-additional-info-header {
	border: $helper-border;
	font-size: 10px;
	font-weight: 500;
}

.includes-list-item {
	border: $helper-border;
	font-size: 14px;
	font-weight: 400;
	color: $additional-info-text-color;
}

.level-delivery-date-section {
	border: $helper-border;
}

.level-delivery-region-section {
	border: $helper-border;
}

.level-additional-info-item {
	border: $helper-border;
	font-size: 14px;
	font-weight: 400;
	color: $additional-info-text-color;
}

.backers-line {
	font-size: 14px;
	font-weight: 400;
	color: $level-text-color;
}

.limited-backers-line {
	font-size: 12px;
	font-weight: 500;
	color: rgb(255, 81, 81);
}





